/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

#circular-progress {
  /* --progress: 27; */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: radial-gradient(
      closest-side,
      white 79%,
      transparent 80% 100%
    ),
    conic-gradient(yellow calc(var(--progress) * 1%), gray 0);

  display: grid;
  place-items: center;
}

#circular-progress::before {
  content: attr(data-progress);
  font-size: 20px;
  font-weight: 900;
}
