.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.wrapper button {
  padding: 10px 20px;
  background: #614101;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.accordion {
  width: 500px;
}
.item {
  background: #614101;
  margin-top: 10px;
  padding: 10px 20px;
}
.title {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: #fff;
  height: auto;
}
.accordionContent {
  margin: 5rem;
}
.accordionSection {
  width: 100%;
}
.multiScreen {
  text-align: center;
}
.accordionButtons {
  border: 2px solid green;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
}
.accordionButtons .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.accordionButtons .text span {
  font-weight: 900;
  font-size: 20px;
}
/* 
.accordionButtons p {
  display: none;
} */
